
body {
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

article {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 28px;
    color: #3e3d3d;
    margin-bottom: 20px;
}


p {
    font-size: 16px;
    line-height: 1.6;
    color: #474444;
    margin-bottom: 20px;
}

a {
    max-width: 400px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
